<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.hbproject.board.services.post.mapper.PostRepository">
    <select id="selectPostPageList" resultType="com.hbproject.board.services.post.dto.Post">
        SELECT *
        FROM HB_PROJECT.POST
        ORDER BY POST_ID DESC
        LIMIT #{start}, #{cntPerPage}
    </select>

    <insert id="insertPost">
        INSERT INTO HB_PROJECT.POST
        (
          TIT
         ,CONTS
         ,INS_ID
         ,INS_DTM
         ,MOD_ID
         ,MOD_DTM
        )
        VALUES
        (
          #{tit,jdbcType=VARCHAR}
         ,#{conts,jdbcType=LONGNVARCHAR}
         ,#{insId,jdbcType=VARCHAR}
         ,NOW()
         ,#{modId,jdbcType=VARCHAR}
         ,NOW()
        )
    </insert>

    <select id="selectPost" resultType="com.hbproject.board.services.post.dto.Post">
        SELECT *
        FROM HB_PROJECT.POST
        WHERE POST_ID = #{postId,jdbcType=INTEGER}
    </select>

    <update id="updatePost">
        UPDATE HB_PROJECT.POST
        SET TIT = #{post.tit,jdbcType=VARCHAR}
           ,CONTS = #{post.conts,jdbcType=LONGNVARCHAR}
           ,MOD_ID = #{post.modId,jdbcType=VARCHAR}
           ,MOD_DTM = NOW()
        WHERE POST_ID = #{postId,jdbcType=INTEGER}
    </update>

    <delete id="deletePost">
        DELETE FROM HB_PROJECT.POST
        WHERE POST_ID = #{postId,jdbcType=INTEGER}
    </delete>

    <select id="selectPostCount" resultType="int">
        SELECT COUNT(*)
        FROM HB_PROJECT.POST
    </select>
</mapper>