<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.hbproject.board.services.post.mapper.PostRepository">
    <select id="selectAllList" resultType="com.hbproject.board.services.post.dto.Post">
        SELECT *
        FROM HB_PROJECT.POST
    </select>
</mapper>