<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.hbproject.board.services.sample.mapper.SampleRepository">
    <select id="selectAllList" resultType="com.hbproject.board.services.sample.dto.Sample">
        SELECT *
        FROM HB_PROJECT.TEST
    </select>
</mapper>