<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{layout/layout.html}">
<th:block layout:fragment="content">
    <!-- Page Header-->
    <header class="masthead" style="background-image: url('/img/post-bg.jpg')">
        <div class="container position-relative px-4 px-lg-5">
            <div class="row gx-4 gx-lg-5 justify-content-center">
                <div class="col-md-10 col-lg-8 col-xl-7">
                    <div class="post-heading">
                        <h1 th:text="${post.tit}"></h1>
<!--                        <h2 class="subheading">Problems look mighty small from 150 miles up</h2>-->
                        <span class="meta">
                                Posted by
                                <a href="#!" th:text="${post.insId}"></a>
                                <span th:text="${post.insDtm}"></span>
                        </span>
                    </div>
                </div>
            </div>
        </div>
    </header>
    <!-- Post Content-->
    <article class="mb-4">
        <div class="container px-4 px-lg-5">
            <div class="row gx-4 gx-lg-5 justify-content-center">
                <div class="col-md-10 col-lg-8 col-xl-7">
                    <pre th:utext="${post.conts}">
                        <!--상세 내용 입력 부분 -->
                    </pre>
                    <hr class="my-4" />
                    <th:block th:if="${post.filePath}">
                        <div class="mb-3">
                            <label class="form-label">첨부파일</label>
                            <a class="form-control" th:href="@{/file/download(filePath=${post.filePath})}" th:text="${post.filePath}"></a>
                        </div>
                    </th:block>
                </div>
            </div>
        </div>
    </article>

    <div class="btn-toolbar justify-content-end px-4 container">
        <!--modiy-->
        <div class="mb-4 m-1"><a class="btn btn-primary text-uppercase" th:href="@{/modify(postId=${post.postId})}">수정하기</a></div>
        <!--delete-->
        <div class="mb-4 m-1 btn btn-primary text-uppercase" id="postDelete">삭제하기</div>
    </div>
</th:block>
<th:block layout:fragment="pageScript">
    <script th:inline="javascript">

        let postId = /*[[ ${post.postId} ]]*/ '';

        $('#postDelete').click(function(){
            $.ajax({
                method: "DELETE",
                url: "/posts/" + postId,
                contentType:'application/json',
                success: function(data){
                    location.href = '/posts';
                }
            })
        })
    </script>
</th:block>
</html>

